// copy from bootstrap variables.less
@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-large:       1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:       1.5;
@dropdown-link-color:     @gray-dark;
@gray-dark:               lighten(@gray-base, 20%);   // #333
@gray-base:               #000;
@dropdown-link-hover-color:      darken(@gray-dark, 5%);
@dropdown-link-hover-bg:         #f5f5f5;
